

.forBackgoundImage{
    background-image: url('https://img.freepik.com/free-photo/handyman-drilling-wooden-plank-with-drilling-machine_1134-23025.jpg?w=996'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}